<h1>Adaptations uniques de la vie marine</h1>
<p>Explorez les capacités fascinantes des organismes marins qui leur permettent de survivre dans des environnements souvent hostiles et variés. La diversité des océans a donné naissance à des stratégies d'adaptation exceptionnelles pour répondre aux défis comme la pression, le froid, le manque de lumière, et même la pollution.
</p>

<div>
  <ol>
    <h3>
      <li>Bioluminescence</li>
    </h3>
    <ul>
      <li>La bioluminescence est la capacité de produire de la lumière par des organismes vivants. Elle est utilisée par de nombreuses créatures marines pour chasser, se défendre ou communiquer.</li>
      <li>Exemple : Les poissons-lanternes illuminent les abysses grâce à des bactéries lumineuses.</li>
    </ul>
    <br>
    <img src="assets/images/img.png" alt="Bioluminescence" />


    <h3>
      <li>Respiration sous-marine innovante</li>
    </h3>
    <ul>
      <li>Les mammifères marins comme les cachalots possèdent des adaptations qui leur permettent de retenir leur souffle pendant des heures en stockant de l’oxygène dans leurs muscles riches en myoglobine.</li>
    </ul>
    <br>
    <img src="assets/images/img_1.png" alt="Respiration sous-marine" />

    <h3>
      <li>Résistance aux pressions extrêmes</li>
    </h3>
    <ul>
      <li>À des profondeurs abyssales, des organismes comme le poisson-snail vivent sous une pression écrasante, grâce à des os souples et des fluides internes équilibrant la pression extérieure.</li>
    </ul>
    <br>
    <img src="assets/images/img_3.png" alt="Résistance aux pressions extrêmes" />

    <h3>
      <li>Adaptation au changement climatique</li>
    </h3>
    <ul>
      <li>Les récifs coralliens, bien qu’en danger, développent parfois des symbioses avec des algues résistantes à des températures plus élevées, leur permettant de survivre malgré le blanchissement.</li>
    </ul>
    <br>
    <img src="assets/images/img_2.png" alt="Adaptation au changement climatique" />
  </ol>
</div>
