<app-navbar></app-navbar><h1>Comparaison</h1>
<p>la page 1</p>


<div class="image-container">
  <!-- L'image -->
  <img
    src="assets/images/human-body.webp"
    alt="Anatomie humaine"
  />

  <!-- Points rouges sur les zones cliquables -->
  <div
    *ngFor="let point of pixelInfo"
    class="clickable-point"
    [style.top.px]="point.y"
    [style.left.px]="point.x"
    (click)="showTooltip($event, point)"
    (mouseleave)="hideTooltip()"
  ></div>

  <!-- Infobulle -->
  <div
    *ngIf="tooltip.visible"
    class="tooltip"
    [style.top.px]="tooltip.y"
    [style.left.px]="tooltip.x"
  >
    <h3>{{ tooltip.label }}</h3>
    <p>Équivalent marin : {{ tooltip.equivalent }}</p>
  </div>
</div>

